h1 {
    font-family: Bebas Neue, sans serif;
    font-size: 80px;
}

a {
    color: rgb(228, 228, 228);
    text-decoration: none;
}

#hud-text {
    width: 60%;
    line-height: 5.5rem;
    letter-spacing: 0.015em;
    color: rgb(228, 228, 228);
}

#hud-text2 {
    width: 40%;
    line-height: 5.5rem;
    letter-spacing: 0.015em;
    color: rgb(228, 228, 228);
}
