h1 {
    font-family: Bebas Neue, sans serif;
    font-size: 120px;
}

a {
    color: rgb(228, 228, 228);
    text-decoration: none;
}

#hud-text {
    display: flex;
    width: 40%;
    line-height: 6.5rem;
    letter-spacing: 0.01em;
    color: rgb(228, 228, 228);
}